<header class="mx-auto w-80 p-3">
  <nav class=" navbar navbar-expand-lg bg-light  Regular shadow ">
    <div class="container-fluid">
      <a class="navbar-brand" href="home"> <img src="assets/images/logo2.png" alt="Royal Enfield" width="80" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="Contacto">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="Contacto">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="algo mas">Algo más</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container">
  <div class="row">
    <div class="col-8"><app-motos-list></app-motos-list></div>
    <div class="col-4">Carrito de compras</div>
  </div>
</div>
<footer class="bg-light  Regular shadow">© {{title}} 2022</footer>
