<h5 class="mt-3 mb-3 text-center">Lista de motos</h5>

<table class="table rounded ml-5  p-2 text-dark bg -opacity-10">
    <thead class="table-light">
        <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Modelo</th>
            <th scope="col">Color</th>
            <th scope="col">Stock</th>
            <th scope="col">Precio</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <td> <img [src]="moto.image" alt="moto.model"/></td>
            <td>{{moto.model}}</td>
            <td>{{moto.color}}</td>
            <td>{{moto.stock}}</td>
            <td>{{moto.price}}</td>
           
        </tr>
        <tr> 
            <td> <img [src]="moto.image" alt="moto.model"/></td>
            <td>Interceptor 650</td>
            <td>Ventura Blue</td>
            <td>1</td>
            <td>1000</td>
        </tr>
        <tr> 
            <td> <img [src]="moto.image" alt="moto.model"/></td>
            <td>Himalayan</td>
            <td>Mirage Silver</td>
            <td>6</td>
            <td>1180</td>
        </tr>
        <tr>
            <td> <img [src]="moto.image" [alt]="moto.model"/></td>
            <td>Meteor 350</td>
            <td>Stellar Red</td>
            <td>3</td>
            <td>900</td>
        </tr>
    </tbody>
</table>